/*
:root {
    --white: #f1f1ea;
    */
/*Greens*//*

    --green-highlight: #B9CAAD; */
/*#b8f397;*//*

    --green-light: #9dd67d;
    --green-primary: #205106;
    --green-dark: #232E21;  */
/*#072100;*//*

        */
/*Gray*//*

    --gray-highlight: #d9e7cb;
    --gray-light: #bdcbb0;
    --gray-primary: #3e4a35;
    --gray-dark: #131f0d;
        */
/*Blue*//*

    --blue-highlight: #506495;
    --blue-light: #a0cfd0;
    --blue-primary: #1e4e4e;
    --blue-dark: #2F323A;
    */
/*formatting*//*

    --curve: 20px;
}


*/
/*ELEMENTS*//*

body {
    background-color: var(--green-dark);
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom:5%;
    margin-top:1%;
}

h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin:2% 0%;
}

p {
    text-wrap: balance;
}

a {
    padding-bottom: 5%;
    text-decoration-line: none;
}

section {
    display: flex; */
/*Displays divs nicely in each section*//*

    flex-direction: column; */
/*Keeps section titles above boxes*//*

    align-items: center; */
/*centers divs on the vertical axis*//*

    height: 100vh;
    max-height: 650px;
    padding-top: 30px;
}


*/
/*Navigation bar*//*


nav {
    display: flex; */
/*Keeps all items on singular line*//*

    justify-content: space-between; */
/*Equally spaces out div elements in nave bar*//*

    position: fixed; */
/*Mean nav bar will always be visible even when scrolling*//*

    left: 0px;
    right: 0px;
    z-index: 10;
    padding-bottom: 5px; */
/*Keeps nave bar looking nice*//*

    border-radius: 0px 0px var(--curve) var(--curve);
    background-color: var(--blue-primary);
}
nav #menu-icon{
    display: none;
}

nav ul {
    margin: 0;*/
/*keeps nave bar dimensions to nav bar id*//*

}

nav ul li{
  display: block; */
/*Removes bullet points*//*

  float: left; */
/*Keeps list horizontal*//*

}
#name {
    padding-top: 0.4rem;
}

nav div a, nav ul li {
    font-size: 1.5rem;
    padding: 0.4rem;
    font-weight: 550;
    color: var(--white);
    text-decoration-color: var(--blue-primary); */
/*Needs to be same as nav background*//*

}

nav ul a:hover, nav ul li:hover{
    text-decoration-line: underline;
    text-decoration-color:  var(--white);
}
*/
/*interests*//*


#interests{
     background-color: var(--gray-primary);
     color: var(--gray-light);
}

#interests h2 {
    color: var(--gray-light);
    font-size: 2rem;
}
#interests h3 {
    color: var(--gray-dark);
    font-size: 1.5rem;
    display: flex;
    padding: 5%;
    margin: auto;
    text-align: center;
}

*/
/*Section titles for each section*//*

.title {
    margin: 2%;
}

*/
/*1st Div for box which includes header*//*

.summary {
    */
/* position: relative; *//*

    */
/* top: 15px; *//*

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row; */
/*Aligns divs within this div to be side by side and not stacked*//*

    */
/*Ensures it fills the container so when aligning centrally it looks good*//*

    */
/* margin: auto; *//*

}

*/
/*box div*//*

.summary-box {
    margin: 0 20px 5%;
    padding: 0 2%;
    display: flex;
    min-block-size: -webkit-fill-available;
    width: 100%;
    max-height: 80%;
    max-width: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-dark);
    background-color: var(--gray-highlight);
    border-radius: var(--curve);
}

*/
/*box content excluding button*//*

.summary-description {
    margin: 0%;
    padding: 0;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.summary-description ul {
    padding-left: 10%;
}


*/
/*courses*//*


#courses{
     background-color: var(--green-highlight);
     color: var(--green-dark);
}

#courses h2 {
    color: var(--green-dark);
    font-size: 2rem;
}

#courses h3 {
    color: var(--green-highlight);
    font-size: 1.5rem;
    display: flex;
    padding: 5% 0;
    margin: auto;
    text-align: center;
}

*/
/*box div*//*

#courses .summary-box {
    color: var(--green-highlight);
    background-color: var(--green-dark);
}


*/
/*title in interests section*//*

*/
/*.summary in interests section*//*

*/
/*.summary-description in interests section*//*

*/
/*.summary-description li in interests section*//*



*/
/*hobbies*//*


#hobbies{
     background-color: var(--gray-dark);
     color: var(--gray-highlight);
}

#hobbies h2 {
    color: var(--gray-highlight);
    font-size: 2rem;
}

#hobbies h3 {
    color: var(--gray-dark);
    font-size: 1.5rem;
    display: flex;
    padding: 5% 0;
    margin: auto;
    text-align: center;
}

*/
/*box div*//*

#hobbies .summary-box {
    color: varvar(--gray-dark);
    background-color: var(--gray-highlight);
}


*/
/*Footer*//*


footer {
    display: flex; */
/*Keeps all items on singular line*//*

    justify-content: end; */
/*Equally spaces out div elements in nave bar*//*

    left: 0px;
    right: 0px;
    border-radius: var(--curve) var(--curve) 0px 0px;
    background-color: var(--blue-dark);
    z-index: 10;
}

#reference {
   font-size: .5rem;
   padding: 0.5rem;
   font-weight: 550;
   color: var(--blue-highlight);
   text-align: center;
}


*/
/*Media adjustments*//*


@media screen and (max-width: 850px) {

  section{
    padding-bottom: 3%;
  }
  nav ul a, nav ul li, #name {
    font-size: 1.3rem;
    padding: 0.2rem;
    }
}

@media screen and (min-width: 1500px) {
  section{
    padding: 7.5%;
    justify-content: space-between;
    gap: 15%;
    }
  .title {
    margin-top: 0;
    }
  .summary {
    justify-content: space-evenly;
    }
  .summary-box {
    justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
  section{
    max-height: 1600px;
    height: 300vh;
    min-block-size: auto;
  }
  */
/* Style the navigation menu *//*

  nav {
      overflow: hidden;
      flex-direction: column;
      position: fixed;
      border-radius: 0px 0px var(--curve) var(--curve);
    }
    nav ul li {
    float: none;
    }
    */
/* Hide the links inside the navigation menu (except for logo/home) *//*

  nav #nav-list, nav #nav-section {
      display: none;
    }
  nav #name{
      padding-left: 5%;
    }
    */
/* Style navigation menu links *//*

  nav a {
      display: block;
    }
    */
/* Style the hamburger menu *//*

  nav #menu-icon {
    background: white;
    display: flex;
    position: absolute;
    width: 10%;
    align-items: center;
    justify-content: center;
    right: 0;
    }
  #burger {
    font-size: xx-large;
    color: var(--blue-primary);
    }
  #interests{
    max-height: 1400px;
  }
  .summary{
    flex-direction: column;
    }
  .summary-box {
    min-block-size: auto;
    justify-content: center;
    }
}*/
